@import url("https://fonts.googleapis.com/css2?family=Space+Mono");

@supports(display: grid) {
    :root {
        --mono-font:Space Mono,Consolas,monaco,monospace;
    
    	/* Fix for the icon in topbar that opens sidebar in mobile view */
	    --ct_bg_open-menu-button: display: none;
    }
}

/* This is a *fix* for the mobile top menu. I have no idea what I'm doing. CSS is awful. */
#top-bar div.top-bar > ul,
#top-bar div.mobile-top-bar > ul {
	width: 160vw;
}

/* This changes the colors of boxes in sidebar so they can be used universally */ 
:root {
  --ct_bg_sidebar-blue: rgba(25, 86, 255, .22);
  --ct_bg_sidebar-red: rgba(255, 43, 43, .13);
  --ct_bg_sidebar-green: rgba(31, 219, 31, .15);
  --ct_bg_sidebar-yellow: rgba(229, 210, 4, .22);
}

/* This brings the items in sidebar closer to the left */
.menu-item {
  padding-left: 0 !important;
}

.menu-item a {
  padding-left: 7px !important;
}

/* This enlarges the social icons is sidebar, cuz they're like your pp */
.blue img {
  width: 37px !important;
}

/* This is here for to fix the fucking "Top" in "Admin" in sidebar. Fuck you, whoever wrote the fucking code. */ 
.topfix a {
  padding-right: 20px !important;
}

/* This is supposed to fix the sidebar in mobile view */
.side-bar-container {
  background-color: inherit !important;
  overflow-y: visible !important;
  padding: 0 !important;
}

/* The "home" icon in topbar is now centred and somehow responsive */
#top-bar ul li a.homebutton {
  background: url(https://grombald.github.io/Common-Theme/svg/home_fff.svg) center 7px no-repeat !important;
  background-image: var(--ct_bg_topbar-home);
  -webkit-background-size: 15px 15px !important;
  -moz-background-size: 15px 15px;
  background-size: 15px 15px;
  color: transparent;
  padding: 10px 8px;
}

#top-bar .mobile-top-bar ul li a.homebutton {
  background: url(https://grombald.github.io/Common-Theme/svg/home_fff.svg) center 11px no-repeat !important;
  background-image: var(--ct_bg_topbar-home);
  -webkit-background-size: 25px 25px !important;
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  color: transparent;
  padding: 10px 8px;
  padding-bottom: 0;
}

/* This discards the useless open-menu in topbar for tablets because BHL has its own workaround and it just widened the page to the right */
#top-bar .open-menu a {
    display: none !important;
}

#top-bar .mobile-top-bar .open-menu a {
    display: block !important;
}

/* Rate module fixes I guess */
.page-rate-widget-box span {
    height: 20px !important;
}
/* I was awakened to fix this issue that's older than time itself */
div.creditRate div.rateBox div.rate-box-with-credit-button div.creditButton,
div.creditRate div.rateBox div.rate-box-with-credit-button div.creditButton a.fa.fa-info img.image,
div.creditRate div.rateBox div.rate-box-with-credit-button div.page-rate-widget-box span.rate-points,
div.creditRate div.rateBox div.rate-box-with-credit-button div.page-rate-widget-box span.cancel.btn.btn-default,
div.creditRate div.rateBox div.rate-box-with-credit-button div.page-rate-widget-box,
div.page-rate-widget-box span.rate-points {
    background-color: rgb(var(--swatch-background));
}
.rate-box-with-credit-button .page-rate-widget-box .cancel {
    border-top: 0px;
    border-bottom: 0px;
}
