@import url("https://fonts.googleapis.com/css2?family=Space+Mono");

@supports(display: grid) {
    :root {
        --mono-font:Space Mono,Consolas,monaco,monospace;
    
    	/* Fix for the icon in topbar that opens sidebar in mobile view */
	    --ct_bg_open-menu-button: display: none;
    }
}

/* This is a *fix* for the mobile top menu. I have no idea what I'm doing. CSS is awful. */
#top-bar div.top-bar > ul,
#top-bar div.mobile-top-bar > ul {
	width: 160vw;
}

/* This changes the colors of boxes in sidebar so they can be used universally */ 
:root {
  --ct_bg_sidebar-blue: rgba(25, 86, 255, .22);
  --ct_bg_sidebar-red: rgba(255, 43, 43, .13);
  --ct_bg_sidebar-green: rgba(31, 219, 31, .15);
  --ct_bg_sidebar-yellow: rgba(229, 210, 4, .22);
}

/* This brings the items in sidebar closer to the left */
.menu-item a {
  padding-left: 7px !important;
}

/* This is supposed to fix the sidebar in mobile view */
.side-bar-container {
  background-color: inherit !important;
  overflow-y: visible !important;
  padding: 0 !important;
}

/* This gets rid of the useless open-menu in topbar for tablets because BHL has its own workaround and it just widened the page to the right */
#top-bar .open-menu a {
    display: none !important;
}
#top-bar .mobile-top-bar .open-menu a {
    display: block !important;
}

/* I was awakened to fix this issue that's older than time itself */
.page-rate-widget-box .cancel, .page-rate-widget-box .cancel a, .page-rate-widget-box .rate-points, .page-rate-widget-box .ratedown, .page-rate-widget-box .ratedown a, .page-rate-widget-box .rateup, .page-rate-widget-box .rateup a {
    background-color: transparent !important;
}
.rate-box-with-credit-button .page-rate-widget-box .cancel {
    border-top: 0px;
    border-bottom: 0px;
}

/* This is a fix for cerntral alignment of the individual signs in the module. It can be fixed by replacing the code in info:start by what EN has, but we use Common Theme and so replacing the code fucks up the module in Sigma-9-based themes. I love my life. */
.rate-box-with-credit-button .creditButton { /* Centers the "info button" */
    height: 63% !important;
} 
.rate-box-with-credit-button .page-rate-widget-box .cancel a { /* Centers the "cancel button" */
    padding: 0px;
}
